@import url('https://fonts.googleapiscom/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap')

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    margin: 0;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}
#header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding-left: 32px;
    padding-right: 32px;
}
#logo
{
    font-size: 20px;
    font-weight: bold;
    color: #82E3D2;
}
#newVocabulary
{
    display: flex;
    align-items: center;
    border: 1px solid #fafafa;
    border-radius: 5px;
    padding: 9px;
}
#newVocabulary span
{
    margin-left: 5px;
    color: #fafafa;
}

.divider
{
    height: 1px;
    background: #ACACAC;
}


#title
{
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input[type="radio"]
{
    display: none;
}
input[type="radio"] + label
{
    color: #9D9D9D;
    padding-left: 15px;
}
input[type="radio"]:checked + label
{
    color: #82E3D2;
}
#date
{
    width: 190px;
    font-size: 24px;
    font-weight: bold;
    color: #fafafa;
    background: #23242a;
    border: 0px;
    color-scheme: dark;
}
#noteList
{
    width: 100%;
    padding: 40px 32px 40px 32px;
    margin 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.note
{
    display: flex;
    justify-content: space-between;
    border: 1px solid #fafafa;
    border-radius: 8px;
    padding: 13px 10px 13px 10px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.note:hover
{
    border: 1px solid #82E3D2;
    cursor: pointer;
}
.noteTitle
{
    font-size: 18px;
    font-weight: bold;
    color: #fafafa;
    margin-bottom: 5px;
}
.tag
{
    background: #82E3D2;
    padding: 2px 7px 2px 7px;
    color: #2E685E;
    border-radius: 4px;
    font-size: 14px;
}
.noteName
{
    font-size: 14px;
    color: #fafafa;
    margin-left: 4px;
}
